body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
}

.navbar{
    background-color: #ffffff;
    display: flex;  
    justify-content: center; 
    position: relative;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
}

 .navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
 }

 .navbar li{
    display: inline-block;
 }

 .navbar a{
    padding: 15px 20px;
    text-decoration: none;
    display: inline-block;
    color: #000000;
 }

 .navbar a:hover{
    background-color: rgb(221, 130, 77);
    color: #ffffff;
 }

 .active {
  background-color: rgb(221, 130, 77);
 }


 h1 {
  margin: 0px;
 }

 .button, .btn {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  color: white;
  text-decoration: none;
  background-color: rgb(221, 130, 77);
  text-align: center;
  vertical-align: middle;
  line-height: 2;
  border-radius: 10px;
  max-width: 200px;
  transition: 0.25s;
}

.button {
  cursor: pointer;
}

.button:hover, #send:hover{
  background: transparent;
  border: 2px solid rgb(221, 130, 77);
  cursor: pointer;
  color: rgb(221, 130, 77);
}

.contact h1 {
  text-align: center;
  padding: 20px 0;
  font-size: 35px;
}

form {
  width: 60vw;
  margin: 6rem auto 8.1rem auto;
  max-width: 400px;
  max-height: 300px;
}

fieldset {
  border-radius: 8px;
  padding: 1em;
  background-color: whitesmoke;
  border-style: none;
}

input {
  font-size: 16px;
  border-radius: 10px;
  border-style: solid;
  margin: 10px, 0, 0, 0;
  padding: 5px;
  width: 100%;
  min-height: 30px;
  border-color: rgb(221, 130, 77);
}

textarea {
  font-size: 16px;
  border-radius: 3px;
  border-style: solid;
  margin: 10px, 0, 0, 0;
  padding: 5px;
  width: 100%;
  min-height: 5em;
  border-color: rgb(221, 130, 77);
}

label {
  padding: 8px;
  display: block;
}

input[type="submit"]{
  display: block;
  font-size: 16px;
  margin: 2em auto 2em auto;
  width: 35%;
  max-width: 300px;
}

#send {
  background: rgb(221, 130, 77);
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  line-height: 2;
  cursor: pointer;
  transition: 0.25s;
  font-weight: 500;
}

.icon ul {
  padding: 0;
  margin: 0;
}

.icon li {
  display: inline-block;
  margin: 6px;
  list-style: none;
}

.icon li a {
  color: white;
  text-decoration: none;
  font-size: 60px;
}

.about, .home-sec {
  width: 100%;
  padding: 78px 0px;
}

.about img, .home-sec img {
  height: auto;
  width: 420px;
}

.about-desc, .desc {
  width: 550px;
}

.content {
  width: 1130px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content img {
  width: 350px;
}

.about-desc h1, .desc h1 {
  color: rgb(221, 130, 77);
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-desc h5, .desc h5 {
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 3px;
}

.about-desc p, .desc p, .card p {
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

.title h1{
  text-align: center;
  padding-top: 50px;
  font-size: 42px;
}

.skill {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 75px auto;
  text-align: center;
}

.card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0px 20px;
  padding: 20px 20px;
  background-color: #efefef;
  border-radius: 10px;
}

.card:hover {
  background-color: #b8d4da;
  transition: 0.4s ease;
}

.card .icon {
  font-size: 35px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 28px;
  color:rgb(221, 130, 77)
}

.card p {
  font-size: 17px;
  
}